header{
    background: #bbbbbb;
    padding: 20px
}
.caixa {
    position: relative; /*colocar elementos absolute para dentro*/
    width: 940px;
    margin: 0 auto; /*cime e baixo - esquerda e direita*/
}
nav{
    position: absolute; /*absoluto em relação ao site*/
    top: 110px;
    right: 0;
}

nav li {
    display: inline; /*na linha*/
    margin: 0 0 0 15px; /*topo - direita - baixo - esquerda*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*espaçamento lateral esteja dentro do percentual*/
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}