@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal:'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}
main{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo{
    font-size: 28px;
    font-weigh: 700px;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display:block;
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}